/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  display block
  max-height 45vh !important
  margin 3rem auto 1.5rem
  border-radius 5px
  box-shadow rgba(0, 0, 0, 0.05) 4px 3px 18px 0
  margin-top 35px
